*{
    padding: 0;
    margin: 0;      
}
html,body{ 
    position: absolute;
    display: flex;          /* to align left and right div side by side */  
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;                  /* vh(viewport height) is for height and vw(viewport width) is for width */
}
#right-div{
    position: relative;
    height: 100vh;               /* to set the div height to that of body...can be also done by setting 'position:absolute and min-height:100%' */
    min-height: 100vh;
    width: 40vw;
    background-color: rgb(238, 238, 238);
    margin: 0 0 0 2px; 
}
#left-div{
    position: relative;
    height: 100vh;
    min-height: 100vh;
    width: 60vw;
    background-color: rgb(214, 214, 214);  
}
.task-div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 5vh;
    background-color: darkgray;
    margin: 30px 0 0 20px;
    border-bottom: 1px solid;
}
#my-checkbox{
    position: relative;
}
input[type="checkbox"]{
    position: relative;
    height: 2vh;
    width: 2vh;
    cursor: pointer;
    margin: 8px;
}
#my-checkbox:hover{
    transform: rotateZ(10deg); 
}

.fa-edit, .fa-trash-alt{
    cursor: pointer;
    margin: 5px;
}

.fa-edit:hover{
    transform: rotateZ(10deg);
}
.fa-trash-alt:hover{
    transform: rotateZ(10deg);
}

#par{
    position: absolute;
    font-family: cursive;
    left: 1%;
}